# Server Configuration
PORT=8080
APP_ENV=development

# Database Configuration (Supabase)
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_USER=https://veetsxoxfxyiatpbnofv.supabase.co
DB_PASSWORD=hIfKPnIF8NDlw91D
DB_NAME=postgres
DB_PORT=6543

# Security
SUPABASE_JWT_SECRET=YAgiXG9zw/NcrYhMwTjESS5lI8OlG/CgJaKDPBk5D+nSUSFnBm57xMGO9G+aP5kK4RWiZxz76MAXtCw/++OV7A==
SUPABASE_PROJECT_URL=https://veetsxoxfxyiatpbnofv.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZXRzeG94Znh5aWF0cGJub2Z2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Mjg2NTU3OCwiZXhwIjoyMDc4NDQxNTc4fQ.7klxnJTXm2isdMLP_DlrTLAZ6GM8J2tsixCKfJ75_cw
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZlZXRzeG94Znh5aWF0cGJub2Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI4NjU1NzgsImV4cCI6MjA3ODQ0MTU3OH0.G2P1SAJgCCDTM91O1z3W-4KpwbN74SoCppy3IAvstD0
